{% extends 'admin/index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/passwordpost">
    {% csrf_token %}
  <table width="200" border="1" class="table table-borderless w-50 mx-auto">
  <tr style="background-color: #f6a248;color: white">
    <tr>
      <td>
      <input type="password" name="textfield" placeholder="Current password" id="textfield" class="form-control" required  ></td>
    </tr>
    <tr>
      <td>
      <input type="password" name="textfield2" placeholder="New password" id="textfield2" class="form-control" required></td>
    </tr>
    <tr>
      <td>
      <input type="password" name="textfield3" placeholder="Confirm password" id="textfield3" class="form-control" required></td>
    </tr>
    <tr align="center">
      <th scope="row"><input type="submit" name="button" id="button" value="confirm"  class="btn btn-dark" /></th>
    </tr>
  </table>
</form>

{% endblock %}