{% extends 'pharmacy/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/stockupdatepost/{{ id }}" enctype="multipart/form-data">
    {% csrf_token %}
  <table width="200" border="1"class="table table-bordered">
      <tr>
      <th scope="col">image</th>
      <th scope="col">
      <input type="file" name="f" id="f" class="form-control" required /></th>
    </tr>
      <tr>
      <th scope="col">Size</th>
      <th scope="col">
      <input type="number" min="1"name="textfield2" id="textfield2"class="form-control" required  /></th>
    </tr>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">
      <input type="number" min="1" name="textfield" id="textfield" class="form-control" required /></th>
    </tr> <tr>
      <th scope="col">Price</th>
      <th scope="col">
      <input type="number" min="1" name="price" id="price"class="form-control" required  /></th>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="Add" class="btn btn-dark"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}