
<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Course Registration Form Flat Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Course Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="/static/regtemp/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<!-- //js -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- //web-fonts --> 
</head>
<body>
	<!-- banner --> 
<div class="video"> 
	<div class="center-container">
	    <div class="w3ls-agileinfo">
			<h1> Pharmacy Registration Form </h1>
		</div>
		 <div class="bg-agile">
			<h2>Sign Up </h2>
			<div class="login-form">	
				<form id="form1" name="form1" method="post" action="/registerpost">
    {% csrf_token %}
                    <input type="text" name="textfield" id="textfield" class="form-control" required  placeholder="Name" />
					<input type="email" name="textfield3" id="textfield3"class="form-control" required placeholder="Email" />
					 <input type="text" name="textfield3" id="textfield3" class="form-control" required  maxlength="10" pattern="[6-9][0-9]{9}" required placeholder="Phone" />
					<input type="text" name="textfield4" id="textfield4" class="form-control" required  placeholder="House name" />
					<input type="text" name="textfield5" id="textfield5" class="form-control" required  placeholder="Place" />
                    <input type="text" name="textfield6" id="textfield6" class="form-control" required  placeholder="Post" />
                    <input type="text" name="textfield7" id="textfield7" class="form-control" required maxlength="6" pattern="[6][0-9]{5}"required  placeholder="Pin" />
                     <input type="password" name="textfield8" id="textfield8" class="form-control"required  placeholder="Password" />
					<input type="submit" value="Submit">
				</form>	
			</div>	
		</div>
	<!-- //banner --> 
	 <!--copyright-->
		<div class="copy w3ls">
		    <p>&copy; 2018 Course Registration Form . All Rights Reserved  | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
	<!--//copyright-->
	</div>	
</div>	
</body>
</html>